.eighth-container {
    width: 1790px;
    height: 268px;
    background-color: #232323;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 10px solid #fff;
    @extend %message-border;

    .eighth-container__text {
        text-align: center;
        color: #fff;
        font-family: "Josefin Sans";

        .eighth-container__text_header {
            font-size: 24px;
            font-weight: 700;
            line-height: 26px;
            text-transform: uppercase;
            letter-spacing: 3.36px;
            padding-top: 120px;
        }

        .eighth-container__text_text {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 1.6px;
            padding-top: 10px;
        }
    
    }

    .eighth-container_social {
        text-align: center;
        padding-top: 30px;

        i {
            color: #fff;
            padding-left: 12px;
            padding-right: 12px;

            &:hover {
                transform: scale(1.5);
                color: blue;
            }
        }

        
    }
}

@media screen and (max-width: 1800px) {
    .third-container {
        width: 100%;
        max-width: 1770px; 
    }
}

@media screen and (max-width: 1199px) {
    .third-container {
        width: 100%;
        max-width: 1179px;  
    }
}

@media screen and (max-width: 991px) {
    .third-container {
        width: 100%;
        max-width: 991px; 
    }
}

@media screen and (max-width: 767px) {
    .third-container {
        width: 100%;
        max-width: 767px;
    }
}

@media screen and (max-width: 767px) {
    .third-container {
        width: 100%;
        max-width: 767px;
    }
        
}

@media screen and (max-width: 575px) {
    .third-container {
        width: 100%;
        max-width: 575px;
    }

}