.seventh-container {
    background-image: url("../img/Rectangle\ 4142.png");
    width: 100%;
    max-width: 1770px;
    height: 700px;
    margin: 0 auto;
    @extend %message-border;

    .seventh-container__header {
        color: #ffffff;
        font-family: Aleo;
        font-size: 36px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        padding-top: 120px;
    }

    .seventh-container_block {
        display: flex;
        justify-content: center;
        margin-top: 94px;

        .seventh-container__image {
            &:hover {
                opacity: 0.5;
                transition-duration: .8s;
            }
        }

        .seventh-container__text {
            width: 50%;
            max-width: 665px;
            height: 100%;
            min-height: 284px;
            background-color: #333333;
            padding-left: 60px;
            padding-top: 50px;
            box-sizing: border-box;

            .seventh-container__text_header {
                color: #fefefe;
                font-family: "Josefin Sans";
                font-size: 20px;
                font-weight: 400;
                line-height: 26px;
                text-align: left;
                text-transform: uppercase;
            }

            .seventh-container__text_text {
                width: 90%;
                max-width: 551px;

                color: #e8e8e8;
                font-family: "Josefin Sans";
                font-size: 13.5px;
                font-weight: 400;
                line-height: 26px;
                text-align: left;
                padding-top: 30px;

                i {
                    color: #5474fd;
                    font-size: 16px;
                }
            }     
        } 
        
    }

    .seventh-container__scroll {
        .seventh-container__scroll_topbutton {
            padding: 18px;
            position:fixed;
            bottom:50px;
            right:50px;
            cursor:pointer;

            .fas {
                font-size: 50px;
                color: #fff;
                opacity: .2;
            }
        }

    }

    
}

@media screen and (max-width: 1800px) {
    .seventh-container {
        width: 98.5%;
        max-width: 1770px; 
    }
}

@media screen and (max-width: 1199px) {
    .seventh-container {
        width: 98%;
        max-width: 1179px; 
        height: 100%;

        .seventh-container_block {
            padding-bottom: 30px;
            .seventh-container__text {
                padding-top: 30px;
            } 
        } 
        
        .seventh-container__scroll {
            .seventh-container__scroll_topbutton {
                padding: 7px;
    
                .fas {
                    font-size: 42px;
                }
            }
    
        }
            
        
    }
}

@media screen and (max-width: 991px) {
    .seventh-container {
        width: 97%;
        max-width: 991px; 

        img {
            display: none;
        }

        .seventh-container__header {
            padding-top: 40px;
        }

        .seventh-container__image {
            background-image: url("../img/Rectangle\ 41441.png");
            width: 100%;
            max-width: 445px;
            height: 284px;
            margin: 0 auto;
        }

        .seventh-container_block {
            display: block;
            .seventh-container__text {
                width: 100%;
                max-width: 445px;
                margin: 0 auto;
                padding-top: 30px;
                padding-bottom: 30px;

                .seventh-container__text_text {
                    font-size: 16px;
                }
            } 
        }

        .seventh-container__scroll {
            .seventh-container__scroll_topbutton {
                padding: 5px;
    
                .fas {
                    font-size: 42px;
                }
            }
    
        }
    }
}

@media screen and (max-width: 767px) {
    .seventh-container {
        width: 96%;
        max-width: 767px;
        height: 100%;

        img {
            display: none;
        }

        .seventh-container__header {
            padding-top: 40px;
        }

        .seventh-container__image {
            background-image: url("../img/Rectangle\ 41441.png");
            width: 100%;
            max-width: 445px;
            height: 284px;
            margin: 0 auto;
        }

        .seventh-container_block {
            display: block;
            padding-bottom: 30px;
            .seventh-container__text {
                width: 100%;
                max-width: 445px;
                margin: 0 auto;
                padding-top: 30px;

                .seventh-container__text_text {
                    font-size: 16px;
                }
            } 
        }

    }
}

@media screen and (max-width: 575px) {
    .seventh-container {
        width: 95%;
        max-width: 575px;

        img {
            display: none;
        }

        .seventh-container__header {
            font-size: 30px;
            padding-top: 40px;
        }

        .seventh-container__image {
            background-image: url("../img/Rectangle\ 41441.png");
            width: 100%;
            max-width: 345px;
            height: 284px;
            margin: 0 auto;
        }

        .seventh-container_block {
            display: block;
            .seventh-container__text {
                width: 100%;
                max-width: 345px;
                margin: 0 auto;
                padding-top: 30px;

                .seventh-container__text_text {
                    font-size: 16px;
                }
            } 
        }

        .seventh-container__scroll {
            .seventh-container__scroll_topbutton {
                padding: 0px;
                position:fixed;
                bottom: 30px;
                right: 30px;
    
                .fas {
                    font-size: 42px;
                }
            }
    
        }
    }

}
