.third-container {
    background-image: url("../img/second-container.png");
    width: 100%;
    max-width: 1770px;
    height: 685px;
    color: #ffffff;
    margin: 0 auto;
    font-family: Aleo;
    display: flex;
    justify-content: space-around;
    @extend %message-border;


    .third-container__text {
        margin-left: 170px;

        .third-container__text_header {
            font-size: 36px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            margin-top: 200px;
        }
    
        .third-container__text_main-text {
            width: 610px;
            height: 146px;
            color: #e8e8e8;
            font-family: "Josefin Sans";
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            letter-spacing: 1.6px;
            margin-top: 60px;
        }

        .third-container__text_button {
            width: 225px;
            height: 45px;
            background-color: #5474fd;
            text-align: center;
            margin-top: 50px;
            padding-top: 20px;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 1.2px;
            cursor: pointer;

            &:hover {
                background-color: chartreuse;
            }
        }
    }

    .third-container__image {
        margin-top: 80px; 
        margin-right: 60px; 
        

        .third-container__image_first-picture {

            &:hover {
                opacity: 0.5;
                transition-duration: .8s;
            }
        }

        .third-container__image_second-picture {
            margin-left: 170px;
            
            &:hover {
                opacity: 0.5;
                transition-duration: .8s;
            }
        }
    }
    
}

@media screen and (max-width: 1800px) {
    .third-container {
        width: 98.5% !important;
        max-width: 1770px; 

        .third-container__image {
            margin-right: 70px;
    
            .third-container__image_second-picture {
                margin-left: 0px;
            }
        }  
    }
}

@media screen and (max-width: 1199px) {
    .third-container {
        width: 98% !important;
        max-width: 1199px;
        
        .third-container__text {
            margin-right: 20px;
    
            .third-container__text_header {
                font-size: 30px;
                margin-top: 85px;
            }
        
            .third-container__text_main-text {
                width: 310px;
                height: 146px;
                font-size: 16px;
                margin-top: 50px; 
            }
    
            .third-container__text_button {
                margin-top: 150px;
                margin-left: 40px;
            }
        }
    
        .third-container__image {
            margin-right: 170px;
    
            .third-container__image_second-picture {
                margin-left: 0px;
            }
        }     
    }
}

@media screen and (max-width: 991px) {
    .third-container {
        width: 97% !important;
        max-width: 991px; 

        .third-container__text {
            margin-right: 20px;
            margin-top: 50px;
    
            .third-container__text_header {
                font-size: 30px;
                margin-top: 40px;
            }
        
            .third-container__text_main-text {
                width: 310px;
                height: 146px;
                font-size: 20px;
                margin-top: 50px; 
            }
    
            .third-container__text_button {
                width: 50%;
                margin-top: 250px;
                margin-left: 170px;
            }
        }
    
        .third-container__image {
            
            .third-container__image_second-picture {
                margin-left: 0px;
                width: 100%;
                max-width: 350px;
            }
    
            .third-container__image_second-picture {
                margin-left: 0px;
                width: 100%;
                max-width: 350px;
            }
        }     
    }
}

@media screen and (max-width: 767px) {
    .third-container {
        width: 96% !important;
        max-width: 767px;
        height: 100%;
        display: flex;
        flex-flow: column;
        background-image: none;
        background-color: #383d3f;

        .third-container__text {
            margin: 0 auto;
            padding-left: 20px;
            padding-right: 20px;
            margin-top: 10px;
            
            
    
            .third-container__text_header {
                font-size: 30px;
                margin-top: 45px;
                text-align: center;
            }
        
            .third-container__text_main-text {
                width: 100%;
                height: 46px;
                font-size: 20px;
                margin-top: 50px; 
            }
    
            .third-container__text_button {
                width: 100%;
                margin: 0 auto;
                margin-top: 190px;
            }
        }
    
        .third-container__image {
            margin: 40px auto;
        }   
    }
        
}

@media screen and (max-width: 575px) {
    .third-container {
        width: 95% !important;
        max-width: 575px;
        height: 100%;
        display: flex;
        flex-flow: column;
        background-image: none;
        background-color: #383d3f;
        

        .third-container__text {
            margin: 0 auto;
            padding-left: 20px;
            padding-right: 20px;
            margin-top: 10px;
            
    
            .third-container__text_header {
                font-size: 30px;
                margin-top: 45px;
                text-align: center;
            }
        
            .third-container__text_main-text {
                width: 100%;
                height: 100%;
                font-size: 20px;
                margin-top: 50px; 
            }
    
            .third-container__text_button {
                width: 100%;
                margin: 0 auto;
                margin-top: 40px;
            }
        }
    
        .third-container__image {
            margin: 40px auto;
           
            
    
            .third-container__image_second-picture {
                margin-left: 0px;
                width: 50%;
                
                max-width: 200px;
                
            }
    
            .third-container__image_second-picture {
                margin-left: 0px;
                width: 50%;
                
                max-width: 200px;
                
            }
        }   
        
    }

}