.third-container {
    background-image: url("../img/second-container.png");
    width: 1770px;
    height: 685px;
    color: #ffffff;
    margin: 0 auto;
    font-family: Aleo;
    display: flex;
    justify-content: space-around;


    .third-container__text {
        margin-left: 170px;

        .third-container__text_header {
            font-size: 36px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            margin-top: 200px;
        }
    
        .third-container__text_main-text {
            width: 610px;
            height: 146px;
            color: #e8e8e8;
            font-family: "Josefin Sans";
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            letter-spacing: 1.6px;
            margin-top: 60px;
        }

        .third-container__text_button {
            width: 225px;
            height: 45px;
            background-color: #5474fd;
            text-align: center;
            margin-top: 50px;
            padding-top: 20px;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 1.2px;
            cursor: pointer;

            &:hover {
                background-color: chartreuse;
            }
        }
    }

    .third-container__image {
        position: relative;
        top: 80px;  
        

        .third-container__image_first-picture {
           position: relative;
           right: 200px;

            &:hover {
                opacity: 0.5;
                transition-duration: .8s;
            }
        }

        .third-container__image_second-picture {
            position: relative;
            right: 70px;
            
            &:hover {
                opacity: 0.5;
                transition-duration: .8s;
            }
        }
    }
}